
        {% extends "layoutbooks.html" %}
        {% block content %}
        <style>
        ul {color:#041E42 ; font-family: "georgia"; padding-left: 50px; padding-right: 25px;}
            </style>
        <h2> About</h2>
                <hr>
            <p>Books4BusyPeople helps you find the best books, according to your preference, in the most efficient manner by searching across time.</p>
                <ul>
                    <li>Select from the NYTimes Best Sellers list, according to your choice of genre and author.</li>
                    <li>Easily navigate back and forth between best seller lists from different genres.</li>
                    <li>Select across the entire time span of the NYTimes selection.</li>
                    <li>Get the results in a clean, concise manner.</li>
                </ul>
        {% endblock %}